/*
Copyright 2016 Drew Reese
Styles for Fifteen Puzzle page
*/

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

#puzzlearea {
	width: 400px;
	height: 400px;
	border-radius: 10px;
	padding: 5px;			/* must match margin of puzzlepiece */
	border: 2px solid black;
	background-color: grey;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	position: relative;		/* so the puzzle tile's x/y coordinates are reletive to me */
}

.puzzlepiece {
	margin: 5px;			/* must match padding of puzzlearea */
	border-radius: 10px;
	font-size: 40pt;
	width: 96px;
	height: 96px;
	border: 2px solid black;
	background-color: white;
	display: inline-block;
	background-repeat: no-repeat;
	position: absolute;
	cursor: default;
}

.movable {
	/*position: absolute;*/
}

.movable:hover {
	cursor: pointer;
	color: red;
	border-color: red;
}

.solved {
	color: blue;
	border: 2px solid blue;
	font-size: 36pt;
	width: 60%;
}

.solved, .timer {
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;	
}

.timer {
	color: black;
	border: 2px solid black;
	background-color: yellow;
	font-size: 24pt;
	font-family: monospace;
	width: 30%;
}